/* 
body{
    padding: 0;
    margin: 0;
}

*/
img{
    width: 250px;
    height: 300px;
    border-radius: 30px;
}


.text_padding{
    padding: 5px;
    margin: 25px;
}


/* Social media icons styling */


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}  

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 100px;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 100px;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 100px;
}

.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 100px;
}

